@model UchItr.Models.Post


    @foreach (var comment in Model.Comments)
    {
        <div class="row">
            <div class="col-sm-9">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            @Html.DisplayFor(modelItem => comment.User.Name) @Html.DisplayFor(modelItem => comment.User.Surname)
                            @*@Html.DisplayFor(modelItem => comment.UserID)*@   
                            @*@comment.User.Name @comment.User.Surname @comment.UserID*@
                            <small>@Html.DisplayFor(modelItem => comment.DateTime)</small>
                        </h4>
                        @Html.DisplayFor(modelItem => comment.Body)
                    </div>
                </div>
                <hr>
            </div>

        </div>

    }
