@model UchItr.Models.Post

@{
    ViewBag.Title = "DetailsPost";
}

<hr>
<hr>

<div class="section">
    <div class="container">
        <div class="row">
            <!-- Blog Post Excerpt -->
            <div class="col-sm-9">
                <div class="blog-post blog-single-post">
                    <div class="single-post-title">
                        <h2>@Html.DisplayFor(modelItem => modelItem.Title)</h2>
                        <h3>@Html.DisplayFor(modelItem => modelItem.User.Name) @Html.DisplayFor(modelItem => modelItem.User.Surname)</h3>
                    </div>

                    <div class="single-post-image">
                        <img src="@Url.Content("~/Content/Images/portfolio/1.jpg")" alt="Post Title">
                    </div>

                    <div class="single-post-info">
                        <i class="glyphicon glyphicon-time"></i>@Html.DisplayFor(modelItem => modelItem.PostedOn)<a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment" style="float: right !important;">11</i></a>
                    </div>

                    <div class="single-post-content">
                        <p>
                            @Html.Raw(Model.Body)
                        </p>
                        @*@Html.ActionLink("Подробнее...", "DetailsPost", new { id = post.Id })*@
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Back to List", "Index")
                </p>
                <hr>
            </div>
            <!-- End Blog Post Excerpt -->
        </div>




        <!-- Posted Comments -->
        <!-- Comment -->



        <div id="comments">
            @Html.Partial("Comments", Model)
        </div>
        @if (Request.IsAuthenticated)
        {
            using (Ajax.BeginForm("Comments", new AjaxOptions { UpdateTargetId = "comments" }))
            {
                <div class="row">
                    <div class="col-sm-9">
                        <!-- Blog Comments -->
                        <!-- Comments Form -->
                        <div class="well">
                            <h4>Leave a Comment:</h4>
                            <form role="form">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <input value="@Model.Id" id="postid" name="postid" hidden />
                                    <input value="@Model.UserID" id="userid" name="userid" hidden />
                                    <textarea class="form-control" rows="3" id="bodyComment" name="bodyComment"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Добавить</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

